<%- include('./partials/header', {title}) %>

    <body>
        <header class="user">
            <%- include('./partials/navbar') %>

                <div class="container pt-5">
                    <p class="mt-2 text-center">
                        <a href="/user" class="nav-link text-light">الصفحة الرئيسية<i class="bx bx-left-arrow"></i>الودائع</a>
                    </p>

                    <div class="d-flex justify-content-center">

                        <%- include('./partials/menu-item') %>
                        
                    </div>
                </div>
        </header>

        <% if (typeof error != "undefined" && error) { %>
            <h5 class="text-center text-info alert alert-danger p-4">
                <%= error %> 
            </h5>
        <% } %>

        <p class="text-center fs-5">
            الودائع
        </p>

        <h2 class="text-center text-bro">
            خطط اﻷستثمار
        </h2>

        <br>
        <p class="text-center text-info fs-5 mb-0">
            أختر خطة
        </p>
        <%- include('./partials/plans', {plans}) %>
        
        
        
        <form class="container text-center fs-5" method="post" action="/user/invest">
            <div class="w-50 m-auto">
                <label for="">أختر خطة</label> <br>
                <select name="plans" id="plansId" class="form-select" aria-label="Default select example">
                    <% typeof plans  != "undefined" && plans.forEach(({plan}) => { %> 
                    <option value="<%= plan / 100 %> "><%= plan %>%</option>
                    <% }) %> 
                </select>
            </div>
            <div class="w-50 m-auto">
                <label for="">نظام الدفع</label> <br>
                <select name="paymentMethod" id="plansId" class="form-select" aria-label="Default select example">
                    <option value="payeer">Payeer</option>
                    <option value="prefectMoney">PrefectMoney</option>
                    <option value="faucetPay">FaucetPay</option>
                </select>
            </div>
            <div class="w-50 m-auto">
                <label for="">إيداعك</label>
                <input type="number" id="plansVal" name="plansVal" class="form-control" minlength="100"
                    min="100" value="100">
            </div>

            <button type="submit" class="btn btn-info w-25 mt-4">
                ايداع
            </button>
        </form>

        <div class="container mt-5">
            <div class="text-center bg-dark text-light p-2 fs-4">
                <th colspan="3">جميع ودائعك</th>
            </div>
            <table class="table table-bordered table-responsive">
                <tr>
                    <td>#</td>
                    <td>المبلغ</td>
                    <td>التاريخ</td>
                </tr>
                <% if (typeof allDeposits != "undefined" && allDeposits) { %>
                    <% allDeposits.map((dep, i) => { %> 
                        <tr>
                            <td><%= i+1  %> </td>
                            <td><%= dep.balance %> روبل</td>
                            <td dir="ltr" class="text-end"><%= dep.time %></td>
                        </tr>
                        <%  }) %>
                <% }  else { %> 
                    <tr>
                        <td class="text-center">
                             لا يوجد ايداع
                        </td>
                    </tr>
                <% } %> 
            </table>    
        </div>
        <%- include('./partials/footer') %>

    </body>


    </html>